name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.2", "3.3", "3.4", "4.0", "jruby"]
        experimental: [false]
        include:
        - ruby: "truffleruby"
          experimental: true
    steps:
    - uses: actions/checkout@v6
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{matrix.ruby}}
        bundler-cache: true

    - name: Run standardrb
      run: bundle exec standardrb --no-fix

    - name: Run tests
      timeout-minutes: 1
      run: ${{matrix.env}} bundle exec rake test
